<% if isCurrentAdminUser?(current_user) == false %>
  <div class="container text-center center-block">
    <h1>Welcom To Sherpa <%= current_user.first_name %></h1>
    <h3>Please choose from an itinerary below to get more details</h3>
  </div>
<% end %>

<% if isCurrentAdminUser?(current_user) %>
    <div class="cont1ainer text-center center-block">
      <div class="col-sm-12">
        <h1>Welcome <%= current_user.first_name %> </h1>
      </div>
      <div class="container col-sm-12 col-md-6 jumbotron">
        <h3>Please to create an itinerary, click the 'New Itinerary' button below<br>To edit an existing itinerary, find it in the list below.</h3>
        <button class="btn-sherpa-primary button_link"><%= link_to 'Create New Itinerary', new_trip_path%></button>
      </div>
      <div class="container col-sm-12 col-md-6 jumbotron">
        <h3>Add New User</h3>
        <button class="btn-sherpa-primary button_link"><%= link_to 'Create New Itinerary', new_user_path%></button>
      </div>
    </div>
<% end %>