@import "bootstrap-sprockets";
@import "bootstrap";

$sherpa-blue: #03a9f4;
$main-font-grey: #797979;

/** general **/

.btn-sherpa-primary{
  background-color: $sherpa-blue;
  font-weight: bold;
  font-size: 1.3em;
  color: #ffffff;
  border-style: none;
  border-bottom-color: $sherpa-blue;
  border-radius: 50px;
  margin: 15px;
}

.dark-background{
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.form-control {
  text-align: center;
}

.btn:hover{
  background-color: $sherpa-blue;
}

/** navbar **/
.navbar{
  height: auto !important;
  z-index: 9999;
}
.navbar-brand{
  padding: 5px 5px;
  float: left;
  height: 20px;
}

.logo_image{
  height: 40px;
}

nav li{
  text-align: center;
}

body {
  padding-top: 50px;
}

/** footer **/

footer {
  margin-top: 45px;
  padding-top: 25px;
  border-top: 1px solid #eaeaea;
  background: $sherpa-blue;
}

footer p{
  color: white;
  font-size: .8em;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*** Home Page ***/

.main-logo-image {
  padding-top: 20px;
  height: 125px;
}

#header{
  background-image: url(https://s3-us-west-2.amazonaws.com/topofthemontain/images/atx_field.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.header-text {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.logo-text{
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 20px;
}

.dark-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(45, 45, 45, .6);
}

.front-background{
  position: relative;
  z-index: 100;
}

.home-color{
  color: $sherpa-blue;
}

.home-section{
  padding-top: 80px;
}

.home-section h3 {
  padding-bottom: 20px;
}

.home-parahraph-big{
  padding-bottom: 20px;
}


.how-text{
  padding-top: 15px;
}



@media (max-width: 480px) {
  .btn {
    width: auto;
  }

  .how-image {
    padding-bottom: 10px;
    width: 150px;
    height: auto;
  }

  .img-responsive{
    height: 127px;
    width: 127px;
  }

  .sherpa-image-container-top{
    padding-bottom: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .how-image {
    width: 150px;
    height: auto;
  }

  .img-responsive{
    padding-bottom: 20px;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .btn .btn-sherpa-primary {
    width: 400px;
  }

  .how-image{
    width: 150px;
    height: auto;
  }

  .sherpa-image{
    height: auto;
    width: 225px;
  }

}

@media (min-width: 980px) {
  .btn .btn-sherpa-primary {
    width: 600px;
  }

  .how-image{
    width: 150px;
    height: auto;
  }

  .sherpa-image{
    height: auto;
    width: 225px;
  }
}

.get-image{
  height: 500px;
  width: auto;
}

h1, h2, h3 {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.3em;
  font-family: 'Muli', sans-serif;
  font-color: $main-font-grey;
  line-height: 1.8;
}

.sign-up-form {
  padding-bottom: 30px;
}

nav li{
  padding-right: 10px;
}

small p{
  padding-left: 10px;
}

h4 {
  font-weight: bold;
}