<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img src="https://s3-us-west-2.amazonaws.com/topofthemontain/images/sherpa+Logo.png" class="logo_image">
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path%></li>
          <% if signed_in? %>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign in", sign_in_path %></li>
          <% end %>

          <li><a href="http://surveygizmo.com/s3/2500932/Sherpa">Get A Sherpa</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

